
.resp-slider {
  position: relative;
  overflow: hidden;

	.splide__arrow--prev,
	.splide__arrow--next {
		transition: transform .3s ease-in;
	}

	.splide__arrow--prev {
		transform: translateX(rem(-150px));
	}

	.splide__arrow--next {
		transform: translateX(rem(150px));
	}

	&.splide--rtl {
		.splide__arrow--prev {
			transform: translateX(rem(150px));
		}

		.splide__arrow--next {
			transform: translateX(rem(-150px));
		}
	}

  &:hover {
		.splide__arrow--prev,
    .splide__arrow--next {
      transform: translateX(0);
    }
  }
}

  .resp-slider__track {}

    .resp-slider__slides {
      margin: 0;
      padding: 0;
    }

      .resp-slider__slide {
        position: relative;
      }

        .resp-slider__image {
          display: block;
          width: 100%;
          pointer-events: none;
        }

        .resp-slider__caption {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          margin: 0;
          padding: rem(6px) rem(10px);
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
          color: #fff;
          font-size: rem(14px);

          @media screen and (min-width: em(1024px)) {
            padding: rem(10px) rem(16px);
            font-size: rem(16px);
          }

					.splide--rtl & {
						text-align: left;
					}
        }


