
.resp-slider {}

  .resp-slider__track {
    transition: height 0.2s ease-in-out;
  }

    .resp-slider__slides {
      margin: 0;
      padding: 0;
    }

      .resp-slider__slide {
        position: relative;
      }

        .resp-slider__image {
          display: block;
          width: 100%;
          pointer-events: none;
        }

        .resp-slider__caption {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          margin: 0;
          padding: rem(6px) rem(10px);
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
          color: #fff;
          font-size: rem(16px);

          @media screen and (min-width: em(1024px)) {
            padding: rem(10px) rem(16px);
            font-size: rem(18px);
          }
        }

    .resp-slider__arrows {}

      .resp-slider__arrow {
        &--next {}
      }
